name: CI

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '**/*.rst'
      - '**/*.md'
    branches:
      - master
      - '[0-9].[0-9]'
  pull_request:
    branches:
      - master
      - '[0-9].[0-9]'

permissions:
  contents: read  #  to fetch code (actions/checkout)

jobs:

   run-tests:
     runs-on: ${{matrix.os}}
     timeout-minutes: 30
     strategy:
       max-parallel: 15
       matrix:
         python-version: ['3.7', '3.8', '3.9', '3.10', '3.11', '3.12', 'pypy-3.7', 'pypy-3.8', 'pypy-3.9']
         os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
       fail-fast: false
     env:
       ACTIONS_ALLOW_UNSECURE_COMMANDS: true
     name: Python ${{ matrix.python-version }} ${{matrix.os}}
     steps:
       - uses: actions/checkout@v3
         with:
           submodules: recursive
       - uses: actions/setup-python@v4
         with:
           python-version: ${{ matrix.python-version }}
           cache: 'pip'
           cache-dependency-path: dev_requirements.txt
       - name: run tests
         run: |
           pip install -U pip setuptools wheel
           pip install -r dev_requirements.txt
           python setup.py build_ext --inplace
           python -m pytest
       - name: build and install the wheel
         run: |
           python setup.py bdist_wheel
