name: Publish tag to Pypi
on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
permissions:
  contents: read  #  to fetch code (actions/checkout)


jobs:

  release:
    uses: ./.github/workflows/REUSABLE-wheeler.yaml
    with:
      release: true
    secrets: inherit
